<!DOCTYPE html ng-app="bd2TemplateApp">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="bd2TemplateApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="bd2TemplateApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="bd2TemplateApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="bd2TemplateApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{menu.name}}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>
        <link rel="stylesheet" href="styles/bootstrap.css"/>
        <link rel="stylesheet" href="styles/bootstrap-responsive.css"/>
        <link rel="stylesheet" href="styles/index.css"/>

    </head>
    <body ng-controller="IndexCtrl">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"></script>
            <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->

        <div ng-include src="'views/_header.html'"></div>
        <div class="container" ng-view></div>

        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="components/bootstrap/js/bootstrap-collapse.js"></script>
        <script src="components/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="scripts/vendor/angular.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/MenuItem.js"></script>
        <script src="scripts/controllers/pilota.js"></script>
        <script src="scripts/controllers/collaudatore.js"></script>
        <script src="scripts/controllers/ingegnere.js"></script>
        <script src="scripts/controllers/gara.js"></script>
        <script src="scripts/controllers/auto.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/services/Gara.js"></script>
        <script src="scripts/services/Config.js"></script>
        <!-- endbuild -->

    </body>
</html>
