<!-- Add your site or application content here -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" ng-href="#{{menu.mainUrl()}}">{{menu.name}}</a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ng-repeat="m in menu.children" ng-class="{active:m.isActive(curUrl(), false, {t:'active', f:''}), dropdown:m.isDropdown({t:'dropdown',f:''})}">
                        <a ng-href="#{{m.mainUrl()}}"
                           ng-class="m.isDropdown({t:'dropdown-toggle',f:''})"
                           data-toggle="{{m.isDropdown({t:'dropdown',f:''})}}">{{m.name}} <b ng-show="m.isDropdown()" class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="c in m.children" ng-class="c.isActive(curUrl(), false, {t:'active', f:''})">
                                <a ng-href="#{{c.mainUrl()}}">{{m.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
